Repository nrfconnect/sdk-nrf-bm, pull requests merged in 2025-09, with the labels that each got.

#373 samples: bluetooth: ble_cgms: correct bas return type
  doc/nrf-bm/release_notes/release_notes_changelog.rst
  samples/bluetooth/ble_cgms/src/main.c
Labels: changelog-entry-required, doc-required, doc-postponed

#390 doc: nrf-bm: libraries: add Peer Manager
  doc/nrf-bm/api/api.rst
  doc/nrf-bm/doxygen/nrf-bm.doxyfile
  doc/nrf-bm/libraries/bluetooth/peer_manager.rst
  doc/nrf-bm/links.txt
Labels: changelog-entry-required, doc-required

#400 version: update to v0.9.0
  VERSION
Labels: changelog-entry-required

#346 samples: peripheral: add PWM sample
  doc/nrf-bm/release_notes/release_notes_changelog.rst
  samples/peripherals/pwm/CMakeLists.txt
  samples/peripherals/pwm/Kconfig
  samples/peripherals/pwm/README.rst
  samples/peripherals/pwm/prj.conf
  samples/peripherals/pwm/sample.yaml
  samples/peripherals/pwm/src/main.c
Labels: changelog-entry-required, doc-required
