Repository nrfconnect/sdk-nrf-bm, changes with the owners that CODEOWNERS names for each.
All owners: @nrfconnect/ncs-code-owners, @nrfconnect/ncs-bm, @nrfconnect/ncs-co-build-system, @nrfconnect/ncs-ci, @nrfconnect/ncs-bm-test, @carlescufi, @nrfconnect/ncs-bm-doc, @nrfconnect/ncs-co-boards, @nrfconnect/ncs-dragoon, @nrfconnect/ncs-pluto

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/.*                                       @nrfconnect/ncs-code-owners @nrfconnect/ncs-bm
/CMakeLists.txt                           @nrfconnect/ncs-co-build-system
/CODEOWNERS                               @nrfconnect/ncs-code-owners @nrfconnect/ncs-bm
/Jenkinsfile                              @nrfconnect/ncs-ci @nrfconnect/ncs-bm-test
/LICENSE                                  @carlescufi
/README.md                                @nrfconnect/ncs-bm @nrfconnect/ncs-bm-doc
/VERSION                                  @nrfconnect/ncs-bm
/west.yml                                 @nrfconnect/ncs-bm

# Dot folders
/.github/                                 @nrfconnect/ncs-ci @nrfconnect/ncs-bm
/.clang-format                            @nrfconnect/ncs-bm
/.checkpatch.conf                         @nrfconnect/ncs-bm

# Boards
/boards/                                  @nrfconnect/ncs-co-boards @nrfconnect/ncs-bm

# All cmake related files
/cmake/                                   @nrfconnect/ncs-co-build-system

# All doc related files
/doc/                                     @nrfconnect/ncs-bm @nrfconnect/ncs-bm-doc
/doc/s115/                                @nrfconnect/ncs-bm @nrfconnect/ncs-bm-doc @nrfconnect/ncs-dragoon

# Drivers
/drivers/clock_control/                   @nrfconnect/ncs-bm
/drivers/console/                         @nrfconnect/ncs-bm

# Include
/include/*.h                              @nrfconnect/ncs-bm
/include/bluetooth/                       @nrfconnect/ncs-bm
/include/s115/                            @nrfconnect/ncs-bm @nrfconnect/ncs-dragoon

# Libraries
/lib/ble_adv/                             @nrfconnect/ncs-bm
/lib/ble_conn_params/                     @nrfconnect/ncs-bm
/lib/ble_gq/                              @nrfconnect/ncs-bm
/lib/ble_qwr/                             @nrfconnect/ncs-bm
/lib/ble_racp/                            @nrfconnect/ncs-bm
/lib/bm_buttons/                          @nrfconnect/ncs-bm
/lib/bm_timer/                            @nrfconnect/ncs-bm
/lib/boot_banner/                         @nrfconnect/ncs-bm
/lib/event_scheduler/                     @nrfconnect/ncs-bm
/lib/sensorsim/                           @nrfconnect/ncs-bm

# Samples
/samples/bluetooth/                       @nrfconnect/ncs-bm
/samples/peripherals/                     @nrfconnect/ncs-bm

# Samples documentation
/samples/**/*.rst                         @nrfconnect/ncs-bm-doc
/samples/bluetooth/**/*.rst               @nrfconnect/ncs-bm-doc
/samples/peripherals/**/*.rst             @nrfconnect/ncs-bm-doc

# Scripts
/scripts/                                 @nrfconnect/ncs-bm @nrfconnect/ncs-ci
/scripts/requirements-*.txt               @nrfconnect/ncs-co-build-system @nrfconnect/ncs-ci

# Subsystems
/subsys/bluetooth/                        @nrfconnect/ncs-bm
/subsys/logging/                          @nrfconnect/ncs-bm
/subsys/softdevice/                       @nrfconnect/ncs-bm @nrfconnect/ncs-dragoon
/subsys/softdevice_handler/               @nrfconnect/ncs-bm
/subsys/storage/flash_map/                @nrfconnect/ncs-pluto

# Tests
/tests/lib/ble_qwr/                       @nrfconnect/ncs-bm
/tests/lib/ble_racp/                      @nrfconnect/ncs-bm

# Zephyr module
/zephyr/                                  @nrfconnect/ncs-co-build-system

# Global override file patterns
Kconfig*                                  @nrfconnect/ncs-co-build-system @nrfconnect/ncs-bm
CMakeLists*                               @nrfconnect/ncs-co-build-system
*.cmake	                                  @nrfconnect/ncs-co-build-system

softdevice_handler: irq_connect: Add MCUboot overhead
  subsys/softdevice_handler/irq_connect.c
Owners: @nrfconnect/ncs-bm

samples: update board target names
  doc/nrf-bm/includes/softdevice_flash.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_cgms/sample.yaml
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_hrs/sample.yaml
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_lbs/sample.yaml
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/ble_nus/sample.yaml
  samples/bluetooth/hello_softdevice/README.rst
  samples/bluetooth/hello_softdevice/sample.yaml
  samples/peripherals/buttons/README.rst
  samples/peripherals/buttons/sample.yaml
  samples/peripherals/leds/README.rst
  samples/peripherals/leds/sample.yaml
  samples/peripherals/timer/README.rst
  samples/peripherals/timer/sample.yaml
  samples/peripherals/uarte/README.rst
  samples/peripherals/uarte/sample.yaml
Owners: @nrfconnect/ncs-bm, @nrfconnect/ncs-bm-doc

boards: nordic: bm_nrf54l15dk: Add partitions
  boards/nordic/bm_nrf54l15dk/CMakeLists.txt
  boards/nordic/bm_nrf54l15dk/Kconfig.bm_nrf54l15dk
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_softdevice.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_softdevice_mcuboot.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_softdevice_mcuboot.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_softdevice_mcuboot_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_softdevice.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_softdevice_mcuboot.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_softdevice_mcuboot.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_softdevice_mcuboot_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_softdevice.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_softdevice_mcuboot.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_softdevice_mcuboot.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_softdevice_mcuboot_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_softdevice_s115_defconfig
  boards/nordic/bm_nrf54l15dk/board.cmake
  boards/nordic/bm_nrf54l15dk/board.yml
  boards/nordic/bm_nrf54l15dk/include/board-config.h
  boards/nordic/bm_nrf54l15dk/sysbuild.cmake
Owners: @nrfconnect/ncs-co-build-system, @nrfconnect/ncs-bm, @nrfconnect/ncs-co-boards

samples: update board target names
  doc/nrf-bm/includes/softdevice_flash.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_cgms/sample.yaml
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_hrs/sample.yaml
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_lbs/sample.yaml
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/ble_nus/sample.yaml
  samples/bluetooth/hello_softdevice/README.rst
  samples/bluetooth/hello_softdevice/sample.yaml
  samples/peripherals/buttons/README.rst
  samples/peripherals/buttons/sample.yaml
  samples/peripherals/leds/README.rst
  samples/peripherals/leds/sample.yaml
  samples/peripherals/timer/README.rst
  samples/peripherals/timer/sample.yaml
  samples/peripherals/uarte/README.rst
  samples/peripherals/uarte/sample.yaml
Owners: @nrfconnect/ncs-bm, @nrfconnect/ncs-bm-doc

boards: nordic: bm_nrf54l15dk: Add partitions
  boards/nordic/bm_nrf54l15dk/CMakeLists.txt
  boards/nordic/bm_nrf54l15dk/Kconfig.bm_nrf54l15dk
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_softdevice.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_softdevice_mcuboot.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_softdevice_mcuboot.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_softdevice_mcuboot_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_softdevice.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_softdevice_mcuboot.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_softdevice_mcuboot.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_softdevice_mcuboot_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_softdevice.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_softdevice_mcuboot.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_softdevice_mcuboot.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_softdevice_mcuboot_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_softdevice_s115_defconfig
  boards/nordic/bm_nrf54l15dk/board.cmake
  boards/nordic/bm_nrf54l15dk/board.yml
  boards/nordic/bm_nrf54l15dk/include/board-config.h
  boards/nordic/bm_nrf54l15dk/sysbuild.cmake
Owners: @nrfconnect/ncs-co-build-system, @nrfconnect/ncs-bm, @nrfconnect/ncs-co-boards

softdevice_handler: irq_connect: Add MCUboot overhead
  subsys/softdevice_handler/irq_connect.c
Owners: @nrfconnect/ncs-bm
