Repository nrfconnect/sdk-nrf-bm, changes with the owners that CODEOWNERS names for each.
All owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt, @MechanicV1, @b-gent

doc: rename ncs-bm to nrf-bm
  .github/workflows/docs.yml
  doc/nrf-bm/README.md
  doc/nrf-bm/conf.py
  doc/nrf-bm/doxygen/mainpage.dox
  doc/nrf-bm/doxygen/ncs-lite.doxyfile
  doc/nrf-bm/gen_docs.py
  doc/nrf-bm/includes/program_sample.txt
  doc/nrf-bm/includes/softdevice_flash.txt
  doc/nrf-bm/index.rst
  doc/nrf-bm/install_nrf_bm.rst
  doc/nrf-bm/links.txt
  doc/nrf-bm/release_notes_0.1.0.rst
  doc/nrf-bm/requirements.txt
  doc/nrf-bm/samples.rst
  doc/nrf-bm/shortcuts.txt
Owners: @lemrey, @MirkoCovizzi, @b-gent

doc: rename NCS Lite to NCS Bare Metal across docs
  doc/ncs-bm/README.md
  doc/ncs-bm/conf.py
  doc/ncs-bm/includes/softdevice_flash.txt
  doc/ncs-bm/index.rst
  doc/ncs-bm/install_ncs_bm.rst
  doc/ncs-bm/links.txt
  doc/ncs-bm/release_notes_0.1.0.rst
  doc/ncs-bm/samples.rst
  doc/ncs-bm/shortcuts.txt
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/buttons/README.rst
  samples/peripherals/leds/README.rst
  samples/peripherals/timer/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

doc: nrf-bm: README: rename script
  doc/nrf-bm/README.md
Owners: @b-gent, @lemrey, @MirkoCovizzi

softdevice: Update softdevice to latest
  include/s115/ble.h
  include/s115/ble_gap.h
  include/s115/nrf_sd_isr.h
  include/s115/nrf_sdm.h
  include/s115/nrf_soc.h
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype+offset-0x05D000_softdevice.hex
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype+offset-0x0DF800_softdevice.hex
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype+offset-0x15D000_softdevice.hex
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_migration-document.pdf
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_release-notes.pdf
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_softdevice.hex
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

softdevice: Switch to new isr offset definition header
  include/s115/nrf_sd_isr_vectors.h
  subsys/softdevice_handler/irq_forward.s
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

softdevice: Update softdevice to latest
  include/s115/ble.h
  include/s115/ble_gap.h
  include/s115/nrf_sd_isr.h
  include/s115/nrf_sdm.h
  include/s115/nrf_soc.h
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype+offset-0x05D000_softdevice.hex
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype+offset-0x0DF800_softdevice.hex
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype+offset-0x15D000_softdevice.hex
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_migration-document.pdf
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_release-notes.pdf
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_softdevice.hex
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

softdevice: Switch to new isr offset definition header
  include/s115/nrf_sd_isr_vectors.h
  subsys/softdevice_handler/irq_forward.s
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

logging: backends: add bm uarte log backend
  drivers/console/console_bm_uarte.c
  samples/bluetooth/ble_hrs/prj.conf
  samples/bluetooth/ble_hrs/src/main.c
  samples/bluetooth/ble_lbs/prj.conf
  samples/bluetooth/ble_lbs/src/main.c
  samples/bluetooth/ble_nus/prj.conf
  samples/bluetooth/ble_nus/src/main.c
  samples/bluetooth/hello_softdevice/prj.conf
  samples/bluetooth/hello_softdevice/src/main.c
  samples/peripherals/buttons/prj.conf
  samples/peripherals/buttons/src/main.c
  samples/peripherals/leds/prj.conf
  samples/peripherals/leds/src/main.c
  samples/peripherals/timer/prj.conf
  samples/peripherals/timer/src/main.c
  subsys/CMakeLists.txt
  subsys/Kconfig
  subsys/logging/CMakeLists.txt
  subsys/logging/Kconfig
  subsys/logging/backends/CMakeLists.txt
  subsys/logging/backends/Kconfig
  subsys/logging/backends/Kconfig.bm_uarte
  subsys/logging/backends/log_backend_bm_uarte.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: peripherals: remove sd requirement
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_defconfig
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_defconfig
  samples/bluetooth/ble_hrs/prj.conf
  samples/bluetooth/ble_lbs/prj.conf
  samples/bluetooth/ble_nus/prj.conf
  samples/bluetooth/hello_softdevice/prj.conf
  samples/peripherals/buttons/prj.conf
  samples/peripherals/buttons/src/main.c
  samples/peripherals/leds/prj.conf
  samples/peripherals/leds/src/main.c
  samples/peripherals/timer/prj.conf
  samples/peripherals/timer/src/main.c
  samples/peripherals/uarte/prj.conf
  samples/peripherals/uarte/src/main.c
  subsys/softdevice/Kconfig
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

bluetooth: services: ble_cgms
  include/bluetooth/services/ble_cgms.h
  include/bluetooth/services/ble_date_time.h
  include/bluetooth/services/common.h
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/ble_cgms/CMakeLists.txt
  subsys/bluetooth/services/ble_cgms/Kconfig
  subsys/bluetooth/services/ble_cgms/cgms.c
  subsys/bluetooth/services/ble_cgms/cgms_db.c
  subsys/bluetooth/services/ble_cgms/cgms_db.h
  subsys/bluetooth/services/ble_cgms/cgms_meas.c
  subsys/bluetooth/services/ble_cgms/cgms_meas.h
  subsys/bluetooth/services/ble_cgms/cgms_racp.c
  subsys/bluetooth/services/ble_cgms/cgms_racp.h
  subsys/bluetooth/services/ble_cgms/cgms_socp.c
  subsys/bluetooth/services/ble_cgms/cgms_socp.h
  subsys/bluetooth/services/ble_cgms/cgms_sst.c
  subsys/bluetooth/services/ble_cgms/cgms_sst.h
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: includes: softdevice_flash: update SoftDevice binary
  doc/nrf-bm/includes/softdevice_flash.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

samples: add ble_cgms sample
  doc/nrf-bm/samples.rst
  samples/bluetooth/ble_cgms/CMakeLists.txt
  samples/bluetooth/ble_cgms/Kconfig
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_cgms/prj.conf
  samples/bluetooth/ble_cgms/sample.yaml
  samples/bluetooth/ble_cgms/src/main.c
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

ci: rename sdk-ncs-lite to bm
  Jenkinsfile
Owners: @lemrey, @eivindj-nordic, @MechanicV1

samples: peripheral: uarte: Add multiple RX buffers
  samples/peripherals/uarte/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

ci: rename to nrf_bm
  Jenkinsfile
Owners: @lemrey, @eivindj-nordic, @MechanicV1

ci: rename to nrf_bm
  Jenkinsfile
Owners: @lemrey, @eivindj-nordic, @MechanicV1

samples: add ble_cgms sample
  doc/nrf-bm/samples.rst
  samples/bluetooth/ble_cgms/CMakeLists.txt
  samples/bluetooth/ble_cgms/Kconfig
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_cgms/prj.conf
  samples/bluetooth/ble_cgms/sample.yaml
  samples/bluetooth/ble_cgms/src/main.c
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

bluetooth: services: ble_cgms
  include/bluetooth/services/ble_cgms.h
  include/bluetooth/services/ble_date_time.h
  include/bluetooth/services/common.h
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/ble_cgms/CMakeLists.txt
  subsys/bluetooth/services/ble_cgms/Kconfig
  subsys/bluetooth/services/ble_cgms/cgms.c
  subsys/bluetooth/services/ble_cgms/cgms_db.c
  subsys/bluetooth/services/ble_cgms/cgms_db.h
  subsys/bluetooth/services/ble_cgms/cgms_meas.c
  subsys/bluetooth/services/ble_cgms/cgms_meas.h
  subsys/bluetooth/services/ble_cgms/cgms_racp.c
  subsys/bluetooth/services/ble_cgms/cgms_racp.h
  subsys/bluetooth/services/ble_cgms/cgms_socp.c
  subsys/bluetooth/services/ble_cgms/cgms_socp.h
  subsys/bluetooth/services/ble_cgms/cgms_sst.c
  subsys/bluetooth/services/ble_cgms/cgms_sst.h
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

boards: nordic: add nRF54L05 and nRF54L10 templates
  boards/nordic/bm_nrf54l05_template/CMakeLists.txt
  boards/nordic/bm_nrf54l05_template/Kconfig.bm_nrf54l05_template
  boards/nordic/bm_nrf54l05_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp.yaml
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_defconfig
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_no_softdevice.yaml
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_s115.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_s115.yaml
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l05_template/board-config.h
  boards/nordic/bm_nrf54l05_template/board.cmake
  boards/nordic/bm_nrf54l05_template/board.yml
  boards/nordic/bm_nrf54l05_template/cpuapp_common.dtsi
  boards/nordic/bm_nrf54l10_template/CMakeLists.txt
  boards/nordic/bm_nrf54l10_template/Kconfig.bm_nrf54l10_template
  boards/nordic/bm_nrf54l10_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp.yaml
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_defconfig
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_no_softdevice.yaml
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_s115.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_s115.yaml
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l10_template/board-config.h
  boards/nordic/bm_nrf54l10_template/board.cmake
  boards/nordic/bm_nrf54l10_template/board.yml
  boards/nordic/bm_nrf54l10_template/cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_s115_defconfig
Owners: @lemrey, @eivindj-nordic

boards: nordic: nRF54L15DK: add L05 and L10 emulated variants
  boards/nordic/bm_nrf54l15dk/Kconfig.bm_nrf54l15dk
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115.dts
  boards/nordic/bm_nrf54l15dk/board.cmake
  boards/nordic/bm_nrf54l15dk/board.yml
  samples/bluetooth/ble_hrs/sample.yaml
  samples/bluetooth/ble_lbs/sample.yaml
  samples/bluetooth/ble_nus/sample.yaml
  samples/bluetooth/hello_softdevice/sample.yaml
  samples/peripherals/buttons/sample.yaml
  samples/peripherals/leds/sample.yaml
  samples/peripherals/timer/sample.yaml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: peripheral: uarte: Add multiple RX buffers
  samples/peripherals/uarte/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: peripherals: remove sd requirement
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_defconfig
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_defconfig
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_defconfig
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_defconfig
  samples/bluetooth/ble_cgms/prj.conf
  samples/bluetooth/ble_hrs/prj.conf
  samples/bluetooth/ble_lbs/prj.conf
  samples/bluetooth/ble_nus/prj.conf
  samples/bluetooth/hello_softdevice/prj.conf
  samples/peripherals/buttons/prj.conf
  samples/peripherals/buttons/src/main.c
  samples/peripherals/leds/prj.conf
  samples/peripherals/leds/src/main.c
  samples/peripherals/timer/prj.conf
  samples/peripherals/timer/src/main.c
  samples/peripherals/uarte/prj.conf
  samples/peripherals/uarte/src/main.c
  subsys/softdevice/Kconfig
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

boards: nordic: nRF54L15DK: add L05 and L10 emulated variants
  boards/nordic/bm_nrf54l15dk/Kconfig.bm_nrf54l15dk
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115.dts
  boards/nordic/bm_nrf54l15dk/board.cmake
  boards/nordic/bm_nrf54l15dk/board.yml
  samples/bluetooth/ble_hrs/sample.yaml
  samples/bluetooth/ble_lbs/sample.yaml
  samples/bluetooth/ble_nus/sample.yaml
  samples/bluetooth/hello_softdevice/sample.yaml
  samples/peripherals/buttons/sample.yaml
  samples/peripherals/leds/sample.yaml
  samples/peripherals/timer/sample.yaml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

boards: nordic: add nRF54L05 and nRF54L10 templates
  boards/nordic/bm_nrf54l05_template/CMakeLists.txt
  boards/nordic/bm_nrf54l05_template/Kconfig.bm_nrf54l05_template
  boards/nordic/bm_nrf54l05_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp.yaml
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_defconfig
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_no_softdevice.yaml
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_s115.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_s115.yaml
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l05_template/board-config.h
  boards/nordic/bm_nrf54l05_template/board.cmake
  boards/nordic/bm_nrf54l05_template/board.yml
  boards/nordic/bm_nrf54l05_template/cpuapp_common.dtsi
  boards/nordic/bm_nrf54l10_template/CMakeLists.txt
  boards/nordic/bm_nrf54l10_template/Kconfig.bm_nrf54l10_template
  boards/nordic/bm_nrf54l10_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp.yaml
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_defconfig
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_no_softdevice.yaml
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_s115.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_s115.yaml
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l10_template/board-config.h
  boards/nordic/bm_nrf54l10_template/board.cmake
  boards/nordic/bm_nrf54l10_template/board.yml
  boards/nordic/bm_nrf54l10_template/cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_s115_defconfig
Owners: @lemrey, @eivindj-nordic

samples: peripherals: remove sd requirement
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_defconfig
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_defconfig
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_defconfig
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_defconfig
  samples/bluetooth/ble_cgms/prj.conf
  samples/bluetooth/ble_hrs/prj.conf
  samples/bluetooth/ble_lbs/prj.conf
  samples/bluetooth/ble_nus/prj.conf
  samples/bluetooth/hello_softdevice/prj.conf
  samples/peripherals/buttons/prj.conf
  samples/peripherals/buttons/src/main.c
  samples/peripherals/leds/prj.conf
  samples/peripherals/leds/src/main.c
  samples/peripherals/timer/prj.conf
  samples/peripherals/timer/src/main.c
  samples/peripherals/uarte/prj.conf
  samples/peripherals/uarte/src/main.c
  subsys/softdevice/Kconfig
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_nus: add the NUS UUID to scan response data
  samples/bluetooth/ble_nus/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

lib: ble_adv: fix incorrect AD length calculation for srvc UUIDs
  lib/ble_adv/ble_adv_data.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

bluetooth: services: ble_nus: move NUS UUIDs to header file
  include/bluetooth/services/ble_nus.h
  subsys/bluetooth/services/ble_nus/nus.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: add Windows requirements for nrfutil
  doc/nrf-bm/install_nrf_bm.rst
  doc/nrf-bm/links.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: includes: softdevice_flash: more explicit steps
  doc/nrf-bm/includes/softdevice_flash.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: includes: program_sample: remove RTT
  doc/nrf-bm/includes/program_sample.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: install_nrf_bm: refactor nrfutil note
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: includes: softdevice_flash: update SoftDevice binary
  doc/nrf-bm/includes/softdevice_flash.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

lib: ble_adv: fix incorrect AD length calculation for srvc UUIDs
  lib/ble_adv/ble_adv_data.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

bluetooth: services: ble_nus: move NUS UUIDs to header file
  include/bluetooth/services/ble_nus.h
  subsys/bluetooth/services/ble_nus/nus.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_nus: add the NUS UUID to scan response data
  samples/bluetooth/ble_nus/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

CI: synchronization with Artifactory
  .github/workflows/src-mirror.yml
Owners: @lemrey, @MirkoCovizzi

CI: synchronization with Artifactory
  .github/workflows/src-mirror.yml
Owners: @lemrey, @MirkoCovizzi

samples: bluetooth: cgms: add log_process
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

drivers: fix empty zephyr library warnings
  drivers/CMakeLists.txt
  drivers/clock_control/CMakeLists.txt
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/CODEOWNERS                               @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/CMakeLists.txt                           @lemrey @eivindj-nordic
/west.yml                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/.clang-format                            @lemrey @eivindj-nordic
/.checkpatch.conf                         @lemrey @eivindj-nordic
Jenkinsfile                               @lemrey @eivindj-nordic @MechanicV1

/README.md                                @lemrey @MirkoCovizzi

# All Kconfig related files
Kconfig*                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt

/.github/                                 @lemrey @MirkoCovizzi
/boards/                                  @lemrey @eivindj-nordic
/doc/                                     @b-gent @lemrey @MirkoCovizzi
/drivers/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/include/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/lib/                                     @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/samples/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/ci/                              @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt @MechanicV1
/subsys/                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/tests/                                   @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/zephyr/                                  @lemrey @eivindj-nordic
