Repository nrfconnect/sdk-nrf-bm, changes with the owners that CODEOWNERS names for each.
All owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt, @MechanicV1, @b-gent

samples: bluetooth: cgms: add log_process
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

drivers: fix empty zephyr library warnings
  drivers/CMakeLists.txt
  drivers/clock_control/CMakeLists.txt
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: install_nrf_bm: use shorcut for release
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

samples: bluetooth: ble_cgms: README: fix typo
  samples/bluetooth/ble_cgms/README.rst
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: install_nrf_bm: add SDK archive section
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: install_nrf_bm: installation time as note
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: install_nrf_bm: clarify samples location
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

samples: bluetooth: ble_cgms: README: fix anchors
  samples/bluetooth/ble_cgms/README.rst
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: install_nrf_bm: refactor git requirement
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: install_nrf_bm: add release tag checkout
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: add support for nRF54L10 and nRF54L05
  doc/nrf-bm/includes/softdevice_flash.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/buttons/README.rst
  samples/peripherals/leds/README.rst
  samples/peripherals/timer/README.rst
  samples/peripherals/uarte/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

doc: nrf-bm: install_nrf_bm: add windows legacy USB driver
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

ci: fix src-mirror workflow clone path
  .github/workflows/src-mirror.yml
Owners: @lemrey, @MirkoCovizzi

fixup! ci: fix src-mirror workflow clone path
  west.yml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

fixup! ci: fix src-mirror workflow clone path
  west.yml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: install_nrf_bm: clarify samples location
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: install_nrf_bm: refactor nrfutil note
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: includes: softdevice_flash: more explicit steps
  doc/nrf-bm/includes/softdevice_flash.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: includes: softdevice_flash: update SoftDevice binary
  doc/nrf-bm/includes/softdevice_flash.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

samples: bluetooth: ble_cgms: README: fix typo
  samples/bluetooth/ble_cgms/README.rst
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: install_nrf_bm: refactor git requirement
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: add support for nRF54L10 and nRF54L05
  doc/nrf-bm/includes/softdevice_flash.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/buttons/README.rst
  samples/peripherals/leds/README.rst
  samples/peripherals/timer/README.rst
  samples/peripherals/uarte/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

samples: bluetooth: ble_cgms: README: fix anchors
  samples/bluetooth/ble_cgms/README.rst
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: install_nrf_bm: add release tag checkout
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: install_nrf_bm: add windows legacy USB driver
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: install_nrf_bm: add SDK archive section
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: install_nrf_bm: use shorcut for release
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: add Windows requirements for nrfutil
  doc/nrf-bm/install_nrf_bm.rst
  doc/nrf-bm/links.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: install_nrf_bm: installation time as note
  doc/nrf-bm/install_nrf_bm.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: includes: program_sample: remove RTT
  doc/nrf-bm/includes/program_sample.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

fixup! ci: fix src-mirror workflow clone path
  .github/workflows/src-mirror.yml
Owners: @lemrey, @MirkoCovizzi

fixup! ci: fix src-mirror workflow clone path
  .github/workflows/src-mirror.yml
Owners: @lemrey, @MirkoCovizzi

use ARTIFACTORY_PATH
  .github/workflows/src-mirror.yml
Owners: @lemrey, @MirkoCovizzi

fixup! use ARTIFACTORY_PATH
  .github/workflows/src-mirror.yml
Owners: @lemrey, @MirkoCovizzi

fixup! ci: fix src-mirror workflow clone path
  .github/workflows/src-mirror.yml
Owners: @lemrey, @MirkoCovizzi

samples: peripheral: uarte: add log_process()
  samples/peripherals/uarte/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_lbs: add the LBS UUID to scan response data
  samples/bluetooth/ble_lbs/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_cgms: add the CGMS UUID to scan response data
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_hrs: add the HRS UUID to scan response data
  samples/bluetooth/ble_hrs/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

workflows: docs: add GitHub Pages deployment
  .github/workflows/docs.yml
Owners: @lemrey, @MirkoCovizzi

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/CODEOWNERS                               @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/CMakeLists.txt                           @lemrey @eivindj-nordic
/west.yml                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/.clang-format                            @lemrey @eivindj-nordic
/.checkpatch.conf                         @lemrey @eivindj-nordic
Jenkinsfile                               @lemrey @eivindj-nordic @MechanicV1

/README.md                                @lemrey @MirkoCovizzi

# All Kconfig related files
Kconfig*                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt

/.github/                                 @lemrey @MirkoCovizzi
/boards/                                  @lemrey @eivindj-nordic
/doc/                                     @b-gent @lemrey @MirkoCovizzi
/drivers/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/include/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/lib/                                     @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/samples/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/ci/                              @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt @MechanicV1
/subsys/                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/tests/                                   @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/zephyr/                                  @lemrey @eivindj-nordic
