Repository nrfconnect/sdk-nrf-bm, changes with the owners that CODEOWNERS names for each.
All owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt, @MechanicV1, @b-gent

boards: nordic: Fix invalid use of Kconfig
  boards/nordic/bm_nrf54l05_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l10_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l15_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l15dk/Kconfig.sysbuild
Owners: @lemrey, @eivindj-nordic

board: nordic: Add MCUboot ROM start offset
  boards/nordic/bm_nrf54l05_template/Kconfig.defconfig
  boards/nordic/bm_nrf54l10_template/Kconfig.defconfig
  boards/nordic/bm_nrf54l15_template/Kconfig.defconfig
  boards/nordic/bm_nrf54l15dk/Kconfig.defconfig
Owners: @lemrey, @eivindj-nordic

boards: nordic: Add retention using GPREGRET1 for boot mode
  boards/nordic/bm_nrf54l05_template/cpuapp_common.dtsi
  boards/nordic/bm_nrf54l10_template/cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15_template/cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_common.dtsi
Owners: @lemrey, @eivindj-nordic

doc: post release version update
  doc/nrf-bm/conf.py
Owners: @b-gent, @lemrey, @MirkoCovizzi

softdevice_handler: Fix maximum MTU Kconfig
  subsys/softdevice_handler/Kconfig
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

softdevice_handler: Fix maximum MTU Kconfig
  subsys/softdevice_handler/Kconfig
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

version: update to v0.7.99
  VERSION
Owners: none

doc: post release version update
  doc/nrf-bm/conf.py
Owners: @b-gent, @lemrey, @MirkoCovizzi

samples: bluetooth: ble_cgms: cleanup
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

boards: nordic: Add retention using GPREGRET1 for boot mode
  boards/nordic/bm_nrf54l05_template/cpuapp_common.dtsi
  boards/nordic/bm_nrf54l10_template/cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15_template/cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_common.dtsi
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_common.dtsi
Owners: @lemrey, @eivindj-nordic

boards: nordic: Fix devicetree styling
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp.dts
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_softdevice_s115.dts
Owners: @lemrey, @eivindj-nordic

boards: nordic: Fix invalid use of Kconfig
  boards/nordic/bm_nrf54l05_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l10_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l15_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l15dk/Kconfig.sysbuild
Owners: @lemrey, @eivindj-nordic

board: nordic: Add MCUboot ROM start offset
  boards/nordic/bm_nrf54l05_template/Kconfig.defconfig
  boards/nordic/bm_nrf54l10_template/Kconfig.defconfig
  boards/nordic/bm_nrf54l15_template/Kconfig.defconfig
  boards/nordic/bm_nrf54l15dk/Kconfig.defconfig
Owners: @lemrey, @eivindj-nordic

boards: nordic: Fix abuse of fixed partition compatible
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp.dts
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_softdevice_s115.dts
Owners: @lemrey, @eivindj-nordic

samples: bluetooth: ble_nus: Change behavior
  samples/bluetooth/ble_nus/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_nus: Change behavior
  samples/bluetooth/ble_nus/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

kconfig: Fix missing limit check and add alphabetical ordering
  Kconfig.nrf_bm
  drivers/Kconfig
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

drivers: flash: Add softdevice-based flash driver
  drivers/CMakeLists.txt
  drivers/flash/CMakeLists.txt
  drivers/flash/Kconfig
  drivers/flash/Kconfig.nrf_rram
  drivers/flash/soc_flash_nrf_rram.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

drivers: flash: rram: use NRF_SDH_SOC_OBSERVER to fix write in app
  drivers/flash/soc_flash_nrf_rram.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

softdevice_handler: irq_connect: Add MCUboot overhead
  subsys/softdevice_handler/irq_connect.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

drivers: flash: rram: use NRF_SDH_SOC_OBSERVER to fix write in app
  drivers/flash/soc_flash_nrf_rram.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

drivers: flash: Add softdevice-based flash driver
  drivers/CMakeLists.txt
  drivers/flash/CMakeLists.txt
  drivers/flash/Kconfig
  drivers/flash/Kconfig.nrf_rram
  drivers/flash/soc_flash_nrf_rram.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

kconfig: Fix missing limit check and add alphabetical ordering
  Kconfig.nrf_bm
  drivers/Kconfig
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

workflows: twister: add coverage report support
  .github/workflows/twister.yml
Owners: @lemrey, @MirkoCovizzi

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/CODEOWNERS                               @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/CMakeLists.txt                           @lemrey @eivindj-nordic
/west.yml                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/.clang-format                            @lemrey @eivindj-nordic
/.checkpatch.conf                         @lemrey @eivindj-nordic
Jenkinsfile                               @lemrey @eivindj-nordic @MechanicV1

/README.md                                @lemrey @MirkoCovizzi

# All Kconfig related files
Kconfig*                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt

/.github/                                 @lemrey @MirkoCovizzi
/boards/                                  @lemrey @eivindj-nordic
/doc/                                     @b-gent @lemrey @MirkoCovizzi
/drivers/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/include/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/lib/                                     @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/samples/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/ci/                              @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt @MechanicV1
/subsys/                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/tests/                                   @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/zephyr/                                  @lemrey @eivindj-nordic
