Repository nrfconnect/sdk-nrf-bm, changes with the owners that CODEOWNERS names for each.
All owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt, @MechanicV1, @b-gent

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/CODEOWNERS                               @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/CMakeLists.txt                           @lemrey @eivindj-nordic
/west.yml                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/.clang-format                            @lemrey @eivindj-nordic
/.checkpatch.conf                         @lemrey @eivindj-nordic
Jenkinsfile                               @lemrey @eivindj-nordic @MechanicV1

/README.md                                @lemrey @MirkoCovizzi

# All Kconfig related files
Kconfig*                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt

/.github/                                 @lemrey @MirkoCovizzi
/boards/                                  @lemrey @eivindj-nordic
/doc/                                     @b-gent @lemrey @MirkoCovizzi
/drivers/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/include/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/lib/                                     @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/samples/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/ci/                              @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt @MechanicV1
/subsys/                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/tests/                                   @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/zephyr/                                  @lemrey @eivindj-nordic

samples: bluetooth: ble_cgms: Remove extra advertising start call
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_cgms: cleanup power features code
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: Update documentation for v0.7.0
  doc/nrf-bm/conf.py
  doc/nrf-bm/gen_docs.py
  doc/nrf-bm/index.rst
  doc/nrf-bm/install_nrf_bm.rst
  doc/nrf-bm/links.txt
  doc/nrf-bm/release_notes.rst
  doc/nrf-bm/release_notes_0.7.0.rst
  doc/nrf-bm/sample/ble.rst
  doc/nrf-bm/sample/peripheral.rst
  doc/nrf-bm/samples.rst
  doc/nrf-bm/shortcuts.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_hrs/README.rst
  samples/peripherals/uarte/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

version: update to v0.7.0-rc2
  VERSION
Owners: none

doc: nrf-bm: samples: add uarte sample subpage
  doc/nrf-bm/samples.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

samples: peripherals: leds: README: fix path
  samples/peripherals/leds/README.rst
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: peripherals: uarte: README: fix shortcut
  samples/peripherals/uarte/README.rst
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: includes: add create_build_samples template
  doc/nrf-bm/gen_docs.py
  doc/nrf-bm/images/create_new_application_from_sample_quick_pick_menu.png
  doc/nrf-bm/images/nrf_bm_filter_by_module.png
  doc/nrf-bm/images/nrf_bm_sample_list.png
  doc/nrf-bm/includes/create_build_sample.txt
  doc/nrf-bm/links.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/buttons/README.rst
  samples/peripherals/leds/README.rst
  samples/peripherals/timer/README.rst
  samples/peripherals/uarte/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

samples: bluetooth: hello_softdevice: README: make title consistent
  samples/bluetooth/hello_softdevice/README.rst
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: make names consistent
  samples/bluetooth/ble_hrs/sample.yaml
  samples/bluetooth/ble_lbs/sample.yaml
  samples/bluetooth/ble_nus/sample.yaml
  samples/bluetooth/hello_softdevice/sample.yaml
  samples/peripherals/buttons/sample.yaml
  samples/peripherals/leds/README.rst
  samples/peripherals/leds/sample.yaml
  samples/peripherals/timer/sample.yaml
  samples/peripherals/uarte/sample.yaml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

ci: fix src-mirror path and use action:main branch
  .github/workflows/src-mirror.yml
Owners: @lemrey, @MirkoCovizzi

ci: fix src-mirror path and use action:main branch
  .github/workflows/src-mirror.yml
Owners: @lemrey, @MirkoCovizzi

samples: peripherals: uarte: use name UARTE consistently
  samples/peripherals/uarte/README.rst
  samples/peripherals/uarte/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: includes: create_build_sample: rename to create_sample
  doc/nrf-bm/includes/create_sample.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/buttons/README.rst
  samples/peripherals/leds/README.rst
  samples/peripherals/timer/README.rst
  samples/peripherals/uarte/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

doc: nrf-bm: includes: program_sample: use link
  doc/nrf-bm/includes/program_sample.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: includes: add configure_and_build_sample template
  doc/nrf-bm/images/add_build_configuration.png
  doc/nrf-bm/images/add_build_configuration_page.png
  doc/nrf-bm/images/board_target.png
  doc/nrf-bm/images/show_build_configuration_files.png
  doc/nrf-bm/includes/configure_and_build_sample.txt
  doc/nrf-bm/links.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/buttons/README.rst
  samples/peripherals/leds/README.rst
  samples/peripherals/timer/README.rst
  samples/peripherals/uarte/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

samples: bluetooth: ble_cgms: add SoftDevice and BLE enabled logs
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: includes: softdevice_flash: fix SDK version
  doc/nrf-bm/includes/softdevice_flash.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

version: update to v0.7.0
  VERSION
Owners: none

doc: Update documentation for v0.7.0
  doc/nrf-bm/conf.py
  doc/nrf-bm/gen_docs.py
  doc/nrf-bm/index.rst
  doc/nrf-bm/install_nrf_bm.rst
  doc/nrf-bm/links.txt
  doc/nrf-bm/release_notes.rst
  doc/nrf-bm/release_notes_0.7.0.rst
  doc/nrf-bm/sample/ble.rst
  doc/nrf-bm/sample/peripheral.rst
  doc/nrf-bm/samples.rst
  doc/nrf-bm/shortcuts.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_hrs/README.rst
  samples/peripherals/uarte/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

manifest: update west module name of sdk-nrf repository to nrf
  west.yml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: includes: add subsections
  doc/nrf-bm/includes/configure_and_build_sample.txt
  doc/nrf-bm/includes/create_sample.txt
  doc/nrf-bm/includes/program_sample.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

manifest: update west module name of sdk-nrf repository to nrf
  west.yml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_cgms: add SoftDevice and BLE enabled logs
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: includes: create_build_sample: rename to create_sample
  doc/nrf-bm/includes/create_sample.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/buttons/README.rst
  samples/peripherals/leds/README.rst
  samples/peripherals/timer/README.rst
  samples/peripherals/uarte/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

doc: nrf-bm: includes: softdevice_flash: fix SDK version
  doc/nrf-bm/includes/softdevice_flash.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: includes: add configure_and_build_sample template
  doc/nrf-bm/images/add_build_configuration.png
  doc/nrf-bm/images/add_build_configuration_page.png
  doc/nrf-bm/images/board_target.png
  doc/nrf-bm/images/show_build_configuration_files.png
  doc/nrf-bm/includes/configure_and_build_sample.txt
  doc/nrf-bm/links.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/buttons/README.rst
  samples/peripherals/leds/README.rst
  samples/peripherals/timer/README.rst
  samples/peripherals/uarte/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

doc: nrf-bm: includes: add subsections
  doc/nrf-bm/includes/configure_and_build_sample.txt
  doc/nrf-bm/includes/create_sample.txt
  doc/nrf-bm/includes/program_sample.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: includes: program_sample: use link
  doc/nrf-bm/includes/program_sample.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

samples: peripherals: uarte: use name UARTE consistently
  samples/peripherals/uarte/README.rst
  samples/peripherals/uarte/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: Update documentation for v0.7.0
  doc/nrf-bm/conf.py
  doc/nrf-bm/gen_docs.py
  doc/nrf-bm/images/create_new_application_from_sample_quick_pick_menu.png
  doc/nrf-bm/includes/configure_and_build_sample.txt
  doc/nrf-bm/includes/create_sample.txt
  doc/nrf-bm/includes/program_sample.txt
  doc/nrf-bm/includes/softdevice_flash.txt
  doc/nrf-bm/index.rst
  doc/nrf-bm/install_nrf_bm.rst
  doc/nrf-bm/links.txt
  doc/nrf-bm/release_notes.rst
  doc/nrf-bm/release_notes_0.1.0.rst
  doc/nrf-bm/release_notes_0.7.0.rst
  doc/nrf-bm/sample/ble.rst
  doc/nrf-bm/sample/peripheral.rst
  doc/nrf-bm/samples.rst
  doc/nrf-bm/shortcuts.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/timer/README.rst
  samples/peripherals/uarte/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

doc: Update documentation for v0.7.0
  doc/nrf-bm/conf.py
  doc/nrf-bm/gen_docs.py
  doc/nrf-bm/images/create_new_application_from_sample_quick_pick_menu.png
  doc/nrf-bm/includes/configure_and_build_sample.txt
  doc/nrf-bm/includes/create_sample.txt
  doc/nrf-bm/includes/program_sample.txt
  doc/nrf-bm/includes/softdevice_flash.txt
  doc/nrf-bm/index.rst
  doc/nrf-bm/install_nrf_bm.rst
  doc/nrf-bm/links.txt
  doc/nrf-bm/release_notes.rst
  doc/nrf-bm/release_notes_0.1.0.rst
  doc/nrf-bm/release_notes_0.7.0.rst
  doc/nrf-bm/sample/ble.rst
  doc/nrf-bm/sample/peripheral.rst
  doc/nrf-bm/samples.rst
  doc/nrf-bm/shortcuts.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/timer/README.rst
  samples/peripherals/uarte/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

version: update to v0.7.0
  VERSION
Owners: none

boards: nordic: Fix devicetree styling
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp.dts
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_softdevice_s115.dts
Owners: @lemrey, @eivindj-nordic

boards: nordic: Fix abuse of fixed partition compatible
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l05_template/bm_nrf54l05_template_nrf54l05_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l10_template/bm_nrf54l10_template_nrf54l10_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp.dts
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l05_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l10_cpuapp_softdevice_s115.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_softdevice_s115.dts
Owners: @lemrey, @eivindj-nordic

samples: bluetooth: ble_lbs: handler prints to logs
  samples/bluetooth/ble_lbs/Kconfig
  samples/bluetooth/ble_lbs/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_hrs: handler prints to logs
  samples/bluetooth/ble_hrs/Kconfig
  samples/bluetooth/ble_hrs/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: hello_softdevice: handler prints to logs
  samples/bluetooth/hello_softdevice/Kconfig
  samples/bluetooth/hello_softdevice/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_cgms: cleanup
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

version: update to v0.7.99
  VERSION
Owners: none
