Repository nrfconnect/sdk-nrf-bm, changes with the owners that CODEOWNERS names for each.
All owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt, @MechanicV1, @b-gent

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/CODEOWNERS                               @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/CMakeLists.txt                           @lemrey @eivindj-nordic
/west.yml                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/.clang-format                            @lemrey @eivindj-nordic
/.checkpatch.conf                         @lemrey @eivindj-nordic
Jenkinsfile                               @lemrey @eivindj-nordic @MechanicV1

/README.md                                @lemrey @MirkoCovizzi

# All Kconfig related files
Kconfig*                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt

/.github/                                 @lemrey @MirkoCovizzi
/boards/                                  @lemrey @eivindj-nordic
/doc/                                     @b-gent @lemrey @MirkoCovizzi
/drivers/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/include/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/lib/                                     @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/samples/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/ci/                              @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt @MechanicV1
/subsys/                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/tests/                                   @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/zephyr/                                  @lemrey @eivindj-nordic

lib: ble_gq: add gatt queue library
  include/ble_gq.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/ble_gq/CMakeLists.txt
  lib/ble_gq/Kconfig
  lib/ble_gq/gatt_queue.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: peripherals: add led sample
  boards/nordic/lite_nrf54l15/board-config.h
  boards/nordic/lite_nrf54l15_template/board-config.h
  samples/peripherals/leds/CMakeLists.txt
  samples/peripherals/leds/README.rst
  samples/peripherals/leds/prj.conf
  samples/peripherals/leds/sample.yaml
  samples/peripherals/leds/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

boards: correct flash size in board yaml files for S115
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp.yaml
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_s115.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115.yaml
Owners: @lemrey, @eivindj-nordic

doc: ncs-lite: install_ncsl: fix tab formatting
  doc/ncs-lite/install_ncsl.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: ncs-lite: install_ncsl: fix tab formatting
  doc/ncs-lite/install_ncsl.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: doc fixes from first ux testing
  doc/ncs-lite/install_ncsl.rst
  doc/ncs-lite/links.txt
  doc/ncs-lite/shortcuts.txt
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/buttons/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

lib: rename lite_buttons to bm_buttons
  include/bm_buttons.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/bm_buttons/CMakeLists.txt
  lib/bm_buttons/Kconfig
  lib/bm_buttons/bm_buttons.c
  samples/bluetooth/ble_lbs/prj.conf
  samples/bluetooth/ble_lbs/src/main.c
  samples/peripherals/buttons/prj.conf
  samples/peripherals/buttons/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

boards: correct flash size in board yaml files for S115
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp.yaml
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_s115.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp.yaml
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115.yaml
Owners: @lemrey, @eivindj-nordic

lite: rename lite timer to bm timer
  include/bm_buttons.h
  include/bm_timer.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/bm_buttons/Kconfig
  lib/bm_buttons/bm_buttons.c
  lib/bm_timer/CMakeLists.txt
  lib/bm_timer/Kconfig
  lib/bm_timer/bm_timer.c
  lib/lite_timer/lite_timer.c
  samples/bluetooth/ble_hrs/prj.conf
  samples/bluetooth/ble_hrs/src/main.c
  samples/bluetooth/ble_lbs/prj.conf
  samples/peripherals/buttons/prj.conf
  samples/peripherals/buttons/src/main.c
  samples/peripherals/timer/prj.conf
  samples/peripherals/timer/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

drivers: console: rename lite_uarte_console to bm_uarte_console
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_defconfig
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_defconfig
  drivers/console/CMakeLists.txt
  drivers/console/Kconfig
  drivers/console/Kconfig.bm_uarte
  drivers/console/console_bm_uarte.c
  samples/bluetooth/ble_hrs/prj.conf
  samples/bluetooth/ble_hrs/sample.yaml
  samples/bluetooth/ble_lbs/prj.conf
  samples/bluetooth/hello_softdevice/prj.conf
  samples/peripherals/buttons/prj.conf
  samples/peripherals/leds/prj.conf
  samples/peripherals/timer/prj.conf
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

workflows: update repo name
  .github/workflows/build_samples.yml
  .github/workflows/compliance.yml
  .github/workflows/docs.yml
  .github/workflows/twister.yml
Owners: @lemrey, @MirkoCovizzi

doc: rename target to ncs-bm
  doc/ncs-bm/README.md
  doc/ncs-bm/build_docs.py
  doc/ncs-bm/conf.py
  doc/ncs-bm/doxygen/mainpage.dox
  doc/ncs-bm/doxygen/ncs-lite.doxyfile
  doc/ncs-bm/includes/program_sample.txt
  doc/ncs-bm/includes/softdevice_flash.txt
  doc/ncs-bm/index.rst
  doc/ncs-bm/install_ncsl.rst
  doc/ncs-bm/links.txt
  doc/ncs-bm/release_notes_0.1.0.rst
  doc/ncs-bm/requirements.txt
  doc/ncs-bm/samples.rst
  doc/ncs-bm/shortcuts.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: ncs-bm: rename build_docs to gen_docs
  .github/workflows/docs.yml
  doc/ncs-bm/gen_docs.py
Owners: @lemrey, @MirkoCovizzi, @b-gent

drivers: console: rename lite_uarte_console to bm_uarte_console
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_defconfig
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15_template/bm_nrf54l15_template_nrf54l15_cpuapp_s115_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_no_softdevice_defconfig
  boards/nordic/bm_nrf54l15dk/bm_nrf54l15dk_nrf54l15_cpuapp_s115_defconfig
  drivers/console/CMakeLists.txt
  drivers/console/Kconfig
  drivers/console/Kconfig.bm_uarte
  drivers/console/console_bm_uarte.c
  samples/bluetooth/ble_hrs/prj.conf
  samples/bluetooth/ble_hrs/sample.yaml
  samples/bluetooth/ble_lbs/prj.conf
  samples/bluetooth/hello_softdevice/prj.conf
  samples/peripherals/buttons/prj.conf
  samples/peripherals/leds/prj.conf
  samples/peripherals/timer/prj.conf
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

lite: rename lite timer to bm timer
  include/bm_buttons.h
  include/bm_timer.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/bm_buttons/Kconfig
  lib/bm_buttons/bm_buttons.c
  lib/bm_timer/CMakeLists.txt
  lib/bm_timer/Kconfig
  lib/bm_timer/bm_timer.c
  lib/lite_timer/lite_timer.c
  samples/bluetooth/ble_hrs/prj.conf
  samples/bluetooth/ble_hrs/src/main.c
  samples/bluetooth/ble_lbs/prj.conf
  samples/peripherals/buttons/prj.conf
  samples/peripherals/buttons/src/main.c
  samples/peripherals/timer/prj.conf
  samples/peripherals/timer/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: rename target to ncs-bm
  doc/ncs-bm/README.md
  doc/ncs-bm/build_docs.py
  doc/ncs-bm/conf.py
  doc/ncs-bm/doxygen/mainpage.dox
  doc/ncs-bm/doxygen/ncs-lite.doxyfile
  doc/ncs-bm/includes/program_sample.txt
  doc/ncs-bm/includes/softdevice_flash.txt
  doc/ncs-bm/index.rst
  doc/ncs-bm/install_ncsl.rst
  doc/ncs-bm/links.txt
  doc/ncs-bm/release_notes_0.1.0.rst
  doc/ncs-bm/requirements.txt
  doc/ncs-bm/samples.rst
  doc/ncs-bm/shortcuts.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

workflows: update repo name
  .github/workflows/build_samples.yml
  .github/workflows/compliance.yml
  .github/workflows/docs.yml
  .github/workflows/twister.yml
Owners: @lemrey, @MirkoCovizzi

doc: ncs-bm: rename build_docs to gen_docs
  .github/workflows/docs.yml
  doc/ncs-bm/gen_docs.py
Owners: @lemrey, @MirkoCovizzi, @b-gent

zephyr: rename module
  Kconfig.nrf_bm
  cmake/version.cmake
  subsys/bluetooth/services/ble_dis/Kconfig
  subsys/softdevice/CMakeLists.txt
  tests/lib/ble_qwr/CMakeLists.txt
  tests/lib/ble_racp/CMakeLists.txt
  zephyr/module.yml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

manifest: rename lite to bm
  west.yml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

zephyr: rename module
  Kconfig.nrf_bm
  cmake/version.cmake
  subsys/bluetooth/services/ble_dis/Kconfig
  subsys/softdevice/CMakeLists.txt
  tests/lib/ble_qwr/CMakeLists.txt
  tests/lib/ble_racp/CMakeLists.txt
  zephyr/module.yml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

manifest: rename lite to bm
  west.yml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: peripherals: add uarte sample
  boards/nordic/bm_nrf54l15_template/board-config.h
  boards/nordic/bm_nrf54l15dk/board-config.h
  samples/peripherals/uarte/CMakeLists.txt
  samples/peripherals/uarte/Kconfig
  samples/peripherals/uarte/README.rst
  samples/peripherals/uarte/prj.conf
  samples/peripherals/uarte/sample.yaml
  samples/peripherals/uarte/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

boards: nordic: align console uarte names with app uarte names
  boards/nordic/bm_nrf54l15_template/board-config.h
  boards/nordic/bm_nrf54l15dk/board-config.h
  drivers/console/console_bm_uarte.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: update advertising name
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_hrs/prj.conf
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_lbs/prj.conf
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/ble_nus/prj.conf
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: peripherals: buttons: remove unused header include
  samples/peripherals/buttons/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: peripherals: buttons: remove unused header include
  samples/peripherals/buttons/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: update advertising name
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_hrs/prj.conf
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_lbs/prj.conf
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/ble_nus/prj.conf
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

boards: nordic: align console uarte names with app uarte names
  boards/nordic/bm_nrf54l15_template/board-config.h
  boards/nordic/bm_nrf54l15dk/board-config.h
  drivers/console/console_bm_uarte.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: peripherals: add uarte sample
  boards/nordic/bm_nrf54l15_template/board-config.h
  boards/nordic/bm_nrf54l15dk/board-config.h
  samples/peripherals/uarte/CMakeLists.txt
  samples/peripherals/uarte/Kconfig
  samples/peripherals/uarte/README.rst
  samples/peripherals/uarte/prj.conf
  samples/peripherals/uarte/sample.yaml
  samples/peripherals/uarte/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: rename NCS Lite to NCS Bare Metal across docs
  doc/ncs-bm/README.md
  doc/ncs-bm/conf.py
  doc/ncs-bm/includes/softdevice_flash.txt
  doc/ncs-bm/index.rst
  doc/ncs-bm/install_ncs_bm.rst
  doc/ncs-bm/links.txt
  doc/ncs-bm/release_notes_0.1.0.rst
  doc/ncs-bm/samples.rst
  doc/ncs-bm/shortcuts.txt
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/buttons/README.rst
  samples/peripherals/leds/README.rst
  samples/peripherals/timer/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

doc: rename ncs-bm to nrf-bm
  .github/workflows/docs.yml
  doc/nrf-bm/README.md
  doc/nrf-bm/conf.py
  doc/nrf-bm/doxygen/mainpage.dox
  doc/nrf-bm/doxygen/ncs-lite.doxyfile
  doc/nrf-bm/gen_docs.py
  doc/nrf-bm/includes/program_sample.txt
  doc/nrf-bm/includes/softdevice_flash.txt
  doc/nrf-bm/index.rst
  doc/nrf-bm/install_nrf_bm.rst
  doc/nrf-bm/links.txt
  doc/nrf-bm/release_notes_0.1.0.rst
  doc/nrf-bm/requirements.txt
  doc/nrf-bm/samples.rst
  doc/nrf-bm/shortcuts.txt
Owners: @lemrey, @MirkoCovizzi, @b-gent

README: update repository name
  README.md
Owners: @lemrey, @MirkoCovizzi

doc: nrf-bm: README: rename script
  doc/nrf-bm/README.md
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: update target NCS version
  doc/nrf-bm/install_nrf_bm.rst
  doc/nrf-bm/shortcuts.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: doxygen: rename to Bare Metal
  doc/nrf-bm/doxygen/mainpage.dox
  doc/nrf-bm/doxygen/nrf-bm.doxyfile
Owners: @b-gent, @lemrey, @MirkoCovizzi

logging: backends: add bm uarte log backend
  drivers/console/console_bm_uarte.c
  samples/bluetooth/ble_hrs/prj.conf
  samples/bluetooth/ble_hrs/src/main.c
  samples/bluetooth/ble_lbs/prj.conf
  samples/bluetooth/ble_lbs/src/main.c
  samples/bluetooth/ble_nus/prj.conf
  samples/bluetooth/ble_nus/src/main.c
  samples/bluetooth/hello_softdevice/prj.conf
  samples/bluetooth/hello_softdevice/src/main.c
  samples/peripherals/buttons/prj.conf
  samples/peripherals/buttons/src/main.c
  samples/peripherals/leds/prj.conf
  samples/peripherals/leds/src/main.c
  samples/peripherals/timer/prj.conf
  samples/peripherals/timer/src/main.c
  subsys/CMakeLists.txt
  subsys/Kconfig
  subsys/logging/CMakeLists.txt
  subsys/logging/Kconfig
  subsys/logging/backends/CMakeLists.txt
  subsys/logging/backends/Kconfig
  subsys/logging/backends/Kconfig.bm_uarte
  subsys/logging/backends/log_backend_bm_uarte.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: update target NCS version
  doc/nrf-bm/install_nrf_bm.rst
  doc/nrf-bm/shortcuts.txt
Owners: @b-gent, @lemrey, @MirkoCovizzi

doc: nrf-bm: doxygen: rename to Bare Metal
  doc/nrf-bm/doxygen/mainpage.dox
  doc/nrf-bm/doxygen/nrf-bm.doxyfile
Owners: @b-gent, @lemrey, @MirkoCovizzi

README: update repository name
  README.md
Owners: @lemrey, @MirkoCovizzi
