Repository nrfconnect/sdk-nrf-bm, changes with the owners that CODEOWNERS names for each.
All owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt, @MechanicV1, @b-gent

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/CODEOWNERS                               @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/CMakeLists.txt                           @lemrey @eivindj-nordic
/west.yml                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/.clang-format                            @lemrey @eivindj-nordic
/.checkpatch.conf                         @lemrey @eivindj-nordic
Jenkinsfile                               @lemrey @eivindj-nordic @MechanicV1

/README.md                                @lemrey @MirkoCovizzi

# All Kconfig related files
Kconfig*                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt

/.github/                                 @lemrey @MirkoCovizzi
/boards/                                  @lemrey @eivindj-nordic
/doc/                                     @b-gent @lemrey @MirkoCovizzi
/drivers/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/include/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/lib/                                     @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/samples/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/ci/                              @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt @MechanicV1
/subsys/                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/tests/                                   @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/zephyr/                                  @lemrey @eivindj-nordic

manifest: update sdk-nrf with changes for sdk-zephyr
  include/s115/nrf_sd_def.h
  west.yml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

tmp
  lib/conn_state/ble_conn_state.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

lib: add conn_state
  include/ble_conn_state.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/conn_state/CMakeLists.txt
  lib/conn_state/Kconfig
  lib/conn_state/ble_conn_state.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

nrf_sdh: add missing assert message arguments
  subsys/softdevice_handler/nrf_sdh_ble.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

include: bluetooth: services: set ble event observer priority to zero
  include/bluetooth/services/ble_nus.h
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

include: nrf_ble_qwr: remove NRF_BLE_QWRS_DEF
  include/nrf_ble_qwr.h
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

include: nrf_ble_qwr: remove NRF_BLE_QWRS_DEF
  include/nrf_ble_qwr.h
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

lib: add ble_racp
  include/ble_racp.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/ble_racp/CMakeLists.txt
  lib/ble_racp/Kconfig
  lib/ble_racp/ble_racp.c
  tests/lib/ble_racp/CMakeLists.txt
  tests/lib/ble_racp/prj.conf
  tests/lib/ble_racp/src/unity_test.c
  tests/lib/ble_racp/testcase.yaml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

lib: add ble_racp
  include/ble_racp.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/ble_racp/CMakeLists.txt
  lib/ble_racp/Kconfig
  lib/ble_racp/ble_racp.c
  tests/lib/ble_racp/CMakeLists.txt
  tests/lib/ble_racp/prj.conf
  tests/lib/ble_racp/src/unity_test.c
  tests/lib/ble_racp/testcase.yaml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: restructure samples in folders
  doc/ncs-lite/samples.rst
  samples/bluetooth/ble_hrs/CMakeLists.txt
  samples/bluetooth/ble_hrs/Kconfig
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_hrs/prj.conf
  samples/bluetooth/ble_hrs/sample.yaml
  samples/bluetooth/ble_hrs/src/main.c
  samples/bluetooth/ble_hrs/use-coded-phy.conf
  samples/bluetooth/ble_lbs/CMakeLists.txt
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_lbs/prj.conf
  samples/bluetooth/ble_lbs/sample.yaml
  samples/bluetooth/ble_lbs/src/main.c
  samples/bluetooth/ble_nus/CMakeLists.txt
  samples/bluetooth/ble_nus/Kconfig
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/ble_nus/prj.conf
  samples/bluetooth/ble_nus/sample.yaml
  samples/bluetooth/ble_nus/src/main.c
  samples/bluetooth/hello_softdevice/CMakeLists.txt
  samples/bluetooth/hello_softdevice/README.rst
  samples/bluetooth/hello_softdevice/prj.conf
  samples/bluetooth/hello_softdevice/sample.yaml
  samples/bluetooth/hello_softdevice/src/main.c
  samples/peripherals/buttons/CMakeLists.txt
  samples/peripherals/buttons/README.rst
  samples/peripherals/buttons/prj.conf
  samples/peripherals/buttons/sample.yaml
  samples/peripherals/buttons/src/main.c
  samples/peripherals/timer/CMakeLists.txt
  samples/peripherals/timer/Kconfig
  samples/peripherals/timer/README.rst
  samples/peripherals/timer/prj.conf
  samples/peripherals/timer/sample.yaml
  samples/peripherals/timer/src/main.c
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

samples: restructure samples in folders
  doc/ncs-lite/samples.rst
  samples/bluetooth/ble_hrs/CMakeLists.txt
  samples/bluetooth/ble_hrs/Kconfig
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_hrs/prj.conf
  samples/bluetooth/ble_hrs/sample.yaml
  samples/bluetooth/ble_hrs/src/main.c
  samples/bluetooth/ble_hrs/use-coded-phy.conf
  samples/bluetooth/ble_lbs/CMakeLists.txt
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_lbs/prj.conf
  samples/bluetooth/ble_lbs/sample.yaml
  samples/bluetooth/ble_lbs/src/main.c
  samples/bluetooth/ble_nus/CMakeLists.txt
  samples/bluetooth/ble_nus/Kconfig
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/ble_nus/prj.conf
  samples/bluetooth/ble_nus/sample.yaml
  samples/bluetooth/ble_nus/src/main.c
  samples/bluetooth/hello_softdevice/CMakeLists.txt
  samples/bluetooth/hello_softdevice/README.rst
  samples/bluetooth/hello_softdevice/prj.conf
  samples/bluetooth/hello_softdevice/sample.yaml
  samples/bluetooth/hello_softdevice/src/main.c
  samples/peripherals/buttons/CMakeLists.txt
  samples/peripherals/buttons/README.rst
  samples/peripherals/buttons/prj.conf
  samples/peripherals/buttons/sample.yaml
  samples/peripherals/buttons/src/main.c
  samples/peripherals/timer/CMakeLists.txt
  samples/peripherals/timer/Kconfig
  samples/peripherals/timer/README.rst
  samples/peripherals/timer/prj.conf
  samples/peripherals/timer/sample.yaml
  samples/peripherals/timer/src/main.c
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

lib: Align event handlers
  include/ble_adv.h
  include/ble_conn_params.h
  include/ble_qwr.h
  include/bluetooth/services/ble_lbs.h
  include/bluetooth/services/ble_nus.h
  include/event_scheduler.h
  include/lite_buttons.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/ble_adv/ble_adv.c
  lib/ble_conn_params/event.c
  lib/ble_qwr/CMakeLists.txt
  lib/ble_qwr/Kconfig
  lib/ble_qwr/ble_qwr.c
  lib/event_scheduler/event_scheduler.c
  lib/lite_buttons/lite_buttons.c
  samples/bluetooth/ble_hrs/src/main.c
  samples/bluetooth/ble_lbs/src/main.c
  samples/bluetooth/ble_nus/prj.conf
  samples/bluetooth/ble_nus/src/main.c
  subsys/bluetooth/services/Kconfig.nus
  subsys/bluetooth/services/lbs.c
  subsys/bluetooth/services/nus.c
  tests/lib/ble_qwr/CMakeLists.txt
  tests/lib/ble_qwr/src/unity_test.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

treewide: Do not use sd_nvic functions
  lib/event_scheduler/event_scheduler.c
  lib/lite_buttons/lite_buttons.c
  lib/lite_timer/lite_timer.c
  subsys/softdevice/CMakeLists.txt
  subsys/softdevice/nvic.c
  subsys/softdevice_handler/nrf_sdh.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

boards: lite_nrf54l15: Update softdevice offset
  boards/nordic/lite_nrf54l15/lite_nrf54l15_cpuapp_common.dtsi
  boards/nordic/lite_nrf54l15/lite_nrf54l15_nrf54l15_cpuapp.dts
  boards/nordic/lite_nrf54l15/lite_nrf54l15_nrf54l15_cpuapp.yaml
  boards/nordic/lite_nrf54l15/lite_nrf54l15_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/lite_nrf54l15/lite_nrf54l15_nrf54l15_cpuapp_no_softdevice.yaml
  boards/nordic/lite_nrf54l15_template/cpuapp_common.dtsi
  boards/nordic/lite_nrf54l15_template/lite_nrf54l15_template_nrf54l15_cpuapp.dts
  boards/nordic/lite_nrf54l15_template/lite_nrf54l15_template_nrf54l15_cpuapp.yaml
  boards/nordic/lite_nrf54l15_template/lite_nrf54l15_template_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/lite_nrf54l15_template/lite_nrf54l15_template_nrf54l15_cpuapp_no_softdevice.yaml
Owners: @lemrey, @eivindj-nordic

softdevice: Update softdevice to latest
  include/s115/ble_gap.h
  include/s115/nrf_nvic.h
  include/s115/nrf_sd_def.h
  include/s115/nrf_sd_isr_vectors.h
  include/s115/nrf_sdm.h
  include/s115/nrf_soc.h
  subsys/softdevice/hex/s115/s115_9.0.0-1.prototype_softdevice.hex
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_license-agreement.txt
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_migration-document.pdf
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_release-notes.pdf
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_softdevice.hex
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

nrf_sdh: Update irq forwarding for compact vector table
  subsys/softdevice_handler/irq_forward.s
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

lib: Align event handlers
  include/ble_adv.h
  include/ble_conn_params.h
  include/ble_qwr.h
  include/bluetooth/services/ble_lbs.h
  include/bluetooth/services/ble_nus.h
  include/event_scheduler.h
  include/lite_buttons.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/ble_adv/ble_adv.c
  lib/ble_conn_params/event.c
  lib/ble_qwr/CMakeLists.txt
  lib/ble_qwr/Kconfig
  lib/ble_qwr/ble_qwr.c
  lib/event_scheduler/event_scheduler.c
  lib/lite_buttons/lite_buttons.c
  samples/bluetooth/ble_hrs/src/main.c
  samples/bluetooth/ble_lbs/src/main.c
  samples/bluetooth/ble_nus/prj.conf
  samples/bluetooth/ble_nus/src/main.c
  subsys/bluetooth/services/Kconfig.nus
  subsys/bluetooth/services/lbs.c
  subsys/bluetooth/services/nus.c
  tests/lib/ble_qwr/CMakeLists.txt
  tests/lib/ble_qwr/src/unity_test.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

softdevice: Update softdevice to latest
  include/s115/ble_gap.h
  include/s115/nrf_nvic.h
  include/s115/nrf_sd_def.h
  include/s115/nrf_sd_isr_vectors.h
  include/s115/nrf_sdm.h
  include/s115/nrf_soc.h
  subsys/softdevice/hex/s115/s115_9.0.0-1.prototype_softdevice.hex
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_license-agreement.txt
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_migration-document.pdf
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_release-notes.pdf
  subsys/softdevice/hex/s115/s115_9.0.0-2.prototype_softdevice.hex
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

boards: lite_nrf54l15: Update softdevice offset
  boards/nordic/lite_nrf54l15/lite_nrf54l15_cpuapp_common.dtsi
  boards/nordic/lite_nrf54l15/lite_nrf54l15_nrf54l15_cpuapp.dts
  boards/nordic/lite_nrf54l15/lite_nrf54l15_nrf54l15_cpuapp.yaml
  boards/nordic/lite_nrf54l15/lite_nrf54l15_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/lite_nrf54l15/lite_nrf54l15_nrf54l15_cpuapp_no_softdevice.yaml
  boards/nordic/lite_nrf54l15_template/cpuapp_common.dtsi
  boards/nordic/lite_nrf54l15_template/lite_nrf54l15_template_nrf54l15_cpuapp.dts
  boards/nordic/lite_nrf54l15_template/lite_nrf54l15_template_nrf54l15_cpuapp.yaml
  boards/nordic/lite_nrf54l15_template/lite_nrf54l15_template_nrf54l15_cpuapp_no_softdevice.dts
  boards/nordic/lite_nrf54l15_template/lite_nrf54l15_template_nrf54l15_cpuapp_no_softdevice.yaml
Owners: @lemrey, @eivindj-nordic

nrf_sdh: Update irq forwarding for compact vector table
  subsys/softdevice_handler/irq_forward.s
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

treewide: Do not use sd_nvic functions
  lib/event_scheduler/event_scheduler.c
  lib/lite_buttons/lite_buttons.c
  lib/lite_timer/lite_timer.c
  subsys/softdevice/CMakeLists.txt
  subsys/softdevice/nvic.c
  subsys/softdevice_handler/nrf_sdh.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

manifest: use NCS v3.0.1
  west.yml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

version: add VERSION file
  VERSION
Owners: none

lib: boot_banner: add library to print boot banner
  lib/CMakeLists.txt
  lib/Kconfig
  lib/boot_banner/CMakeLists.txt
  lib/boot_banner/Kconfig
  lib/boot_banner/banner.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

cmake: add VERSION file integration
  CMakeLists.txt
  cmake/version.cmake
Owners: @lemrey, @eivindj-nordic

drivers: console: lite_uarte: initialize pre kernel to add boot banner
  drivers/console/console_lite_uarte.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: nus: Correct documentation
  samples/bluetooth/ble_nus/README.rst
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

manifest: update self path and internal repo name and path
  Kconfig.nrf-bare_metal
  subsys/softdevice/CMakeLists.txt
  tests/lib/ble_qwr/CMakeLists.txt
  tests/lib/ble_racp/CMakeLists.txt
  west.yml
  zephyr/module.yml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

subsys: bluetooth: services: organize in subdirs
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/ble_bas/CMakeLists.txt
  subsys/bluetooth/services/ble_bas/Kconfig
  subsys/bluetooth/services/ble_bas/bas.c
  subsys/bluetooth/services/ble_dis/CMakeLists.txt
  subsys/bluetooth/services/ble_dis/Kconfig
  subsys/bluetooth/services/ble_dis/dis.c
  subsys/bluetooth/services/ble_hrs/CMakeLists.txt
  subsys/bluetooth/services/ble_hrs/Kconfig
  subsys/bluetooth/services/ble_hrs/hrs.c
  subsys/bluetooth/services/ble_lbs/CMakeLists.txt
  subsys/bluetooth/services/ble_lbs/Kconfig
  subsys/bluetooth/services/ble_lbs/lbs.c
  subsys/bluetooth/services/ble_nus/CMakeLists.txt
  subsys/bluetooth/services/ble_nus/Kconfig
  subsys/bluetooth/services/ble_nus/nus.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

manifest: use NCS v3.0.1
  west.yml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: nus: Correct documentation
  samples/bluetooth/ble_nus/README.rst
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

subsys: bluetooth: services: organize in subdirs
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/ble_bas/CMakeLists.txt
  subsys/bluetooth/services/ble_bas/Kconfig
  subsys/bluetooth/services/ble_bas/bas.c
  subsys/bluetooth/services/ble_dis/CMakeLists.txt
  subsys/bluetooth/services/ble_dis/Kconfig
  subsys/bluetooth/services/ble_dis/dis.c
  subsys/bluetooth/services/ble_hrs/CMakeLists.txt
  subsys/bluetooth/services/ble_hrs/Kconfig
  subsys/bluetooth/services/ble_hrs/hrs.c
  subsys/bluetooth/services/ble_lbs/CMakeLists.txt
  subsys/bluetooth/services/ble_lbs/Kconfig
  subsys/bluetooth/services/ble_lbs/lbs.c
  subsys/bluetooth/services/ble_nus/CMakeLists.txt
  subsys/bluetooth/services/ble_nus/Kconfig
  subsys/bluetooth/services/ble_nus/nus.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

drivers: console: lite_uarte: initialize pre kernel to add boot banner
  drivers/console/console_lite_uarte.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

cmake: add VERSION file integration
  CMakeLists.txt
  cmake/version.cmake
Owners: @lemrey, @eivindj-nordic

lib: boot_banner: add library to print boot banner
  lib/CMakeLists.txt
  lib/Kconfig
  lib/boot_banner/CMakeLists.txt
  lib/boot_banner/Kconfig
  lib/boot_banner/banner.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

version: add VERSION file
  VERSION
Owners: none

samples: peripherals: add led sample
  boards/nordic/lite_nrf54l15/board-config.h
  boards/nordic/lite_nrf54l15_template/board-config.h
  samples/peripherals/leds/CMakeLists.txt
  samples/peripherals/leds/README.rst
  samples/peripherals/leds/prj.conf
  samples/peripherals/leds/sample.yaml
  samples/peripherals/leds/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

lib: rename lite_buttons to bm_buttons
  include/bm_buttons.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/bm_buttons/CMakeLists.txt
  lib/bm_buttons/Kconfig
  lib/bm_buttons/bm_buttons.c
  samples/bluetooth/ble_lbs/prj.conf
  samples/bluetooth/ble_lbs/src/main.c
  samples/peripherals/buttons/prj.conf
  samples/peripherals/buttons/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: doc fixes from first ux testing
  doc/ncs-lite/install_ncsl.rst
  doc/ncs-lite/links.txt
  doc/ncs-lite/shortcuts.txt
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/buttons/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

lib: ble_gq: add gatt queue library
  include/ble_gq.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/ble_gq/CMakeLists.txt
  lib/ble_gq/Kconfig
  lib/ble_gq/gatt_queue.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt
