Repository nrfconnect/sdk-nrf-bm, changes with the owners that CODEOWNERS names for each.
All owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt, @MechanicV1, @b-gent

samples: peripheral: uarte: add log_process()
  samples/peripherals/uarte/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

boards: nordic: Add comment in l05 and l10 templates board config
  boards/nordic/bm_nrf54l05_template/board-config.h
  boards/nordic/bm_nrf54l10_template/board-config.h
Owners: @lemrey, @eivindj-nordic

boards: nordic: bm_nrf54l15_template: fix app uarte pinout
  boards/nordic/bm_nrf54l15_template/board-config.h
Owners: @lemrey, @eivindj-nordic

boards: nordic: bm_nrf54l15_template: fix app uarte pinout
  boards/nordic/bm_nrf54l15_template/board-config.h
Owners: @lemrey, @eivindj-nordic

boards: nordic: Add comment in l05 and l10 templates board config
  boards/nordic/bm_nrf54l05_template/board-config.h
  boards/nordic/bm_nrf54l10_template/board-config.h
Owners: @lemrey, @eivindj-nordic

ci: fix src-mirror workflow clone path
  .github/workflows/src-mirror.yml
Owners: @lemrey, @MirkoCovizzi

ci: fix src-mirror workflow clone path
  .github/workflows/src-mirror.yml
Owners: @lemrey, @MirkoCovizzi

samples: bluetooth: ble_nus: Add multiple RX buffers and HWFC
  samples/bluetooth/ble_nus/prj.conf
  samples/bluetooth/ble_nus/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: peripherals: uarte: enable uarte hwfc
  samples/peripherals/uarte/prj.conf
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: peripherals: uarte: enable uarte hwfc
  samples/peripherals/uarte/prj.conf
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_nus: Add multiple RX buffers and HWFC
  samples/bluetooth/ble_nus/prj.conf
  samples/bluetooth/ble_nus/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: fix configuration of buttons and leds in samples
  samples/bluetooth/ble_cgms/src/main.c
  samples/bluetooth/ble_lbs/src/main.c
  samples/peripherals/buttons/src/main.c
  samples/peripherals/leds/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: fix configuration of buttons and leds in samples
  samples/bluetooth/ble_cgms/src/main.c
  samples/bluetooth/ble_lbs/src/main.c
  samples/peripherals/buttons/src/main.c
  samples/peripherals/leds/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_lbs: add the LBS UUID to scan response data
  samples/bluetooth/ble_lbs/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_hrs: add the HRS UUID to scan response data
  samples/bluetooth/ble_hrs/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_cgms: add the CGMS UUID to scan response data
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

version: update to v0.7.0-rc2
  VERSION
Owners: none

ci: workflow update
  .github/workflows/src-mirror.yml
Owners: @lemrey, @MirkoCovizzi

subsys: bluetooth: services: remove empty service.c
  subsys/bluetooth/services/service.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

treewide: add missing copyright notices
  boards/nordic/bm_nrf54l05_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l10_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l15_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l15dk/Kconfig.sysbuild
  cmake/version.cmake
  include/bluetooth/services/common.h
  include/bluetooth/services/uuid.h
  lib/ble_adv/Kconfig
  lib/ble_racp/Kconfig
  subsys/bluetooth/Kconfig
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

treewide: remove extra newlines
  drivers/console/Kconfig.bm_uarte
  include/ble_qwr.h
  include/bluetooth/services/ble_dis.h
  include/bluetooth/services/uuid.h
  samples/bluetooth/ble_cgms/src/main.c
  samples/peripherals/buttons/src/main.c
  samples/peripherals/leds/src/main.c
  subsys/bluetooth/services/ble_cgms/cgms_db.c
  subsys/bluetooth/services/ble_cgms/cgms_meas.c
  subsys/bluetooth/services/ble_cgms/cgms_racp.c
  subsys/bluetooth/services/ble_cgms/cgms_racp.h
  subsys/bluetooth/services/ble_cgms/cgms_socp.c
  tests/lib/ble_qwr/src/unity_test.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

include: add missing header guards and c++ ifdefs
  include/ble_conn_params.h
  include/bluetooth/services/common.h
  include/bluetooth/services/uuid.h
  include/event_scheduler.h
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

Include: bluetooth: services: uuid: cleanup format
  include/bluetooth/services/uuid.h
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

workflows: remove license to align with NCS style
  .github/workflows/build_samples.yml
  .github/workflows/docs.yml
  .github/workflows/twister.yml
Owners: @lemrey, @MirkoCovizzi

treewide: add missing copyright notices
  boards/nordic/bm_nrf54l05_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l10_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l15_template/Kconfig.sysbuild
  boards/nordic/bm_nrf54l15dk/Kconfig.sysbuild
  cmake/version.cmake
  include/bluetooth/services/common.h
  include/bluetooth/services/uuid.h
  lib/ble_adv/Kconfig
  lib/ble_racp/Kconfig
  subsys/bluetooth/Kconfig
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

treewide: remove extra newlines
  drivers/console/Kconfig.bm_uarte
  include/ble_qwr.h
  include/bluetooth/services/ble_dis.h
  include/bluetooth/services/uuid.h
  samples/bluetooth/ble_cgms/src/main.c
  samples/peripherals/buttons/src/main.c
  samples/peripherals/leds/src/main.c
  subsys/bluetooth/services/ble_cgms/cgms_db.c
  subsys/bluetooth/services/ble_cgms/cgms_meas.c
  subsys/bluetooth/services/ble_cgms/cgms_racp.c
  subsys/bluetooth/services/ble_cgms/cgms_racp.h
  subsys/bluetooth/services/ble_cgms/cgms_socp.c
  tests/lib/ble_qwr/src/unity_test.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

workflows: remove license to align with NCS style
  .github/workflows/build_samples.yml
  .github/workflows/docs.yml
  .github/workflows/twister.yml
Owners: @lemrey, @MirkoCovizzi

Include: bluetooth: services: uuid: cleanup format
  include/bluetooth/services/uuid.h
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

subsys: bluetooth: services: remove empty service.c
  subsys/bluetooth/services/service.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

include: add missing header guards and c++ ifdefs
  include/ble_conn_params.h
  include/bluetooth/services/common.h
  include/bluetooth/services/uuid.h
  include/event_scheduler.h
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_cgms: cleanup power features code
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: bluetooth: ble_cgms: Remove extra advertising start call
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: cgms: cleanup conn_handle
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: peripherals: uarte: README: fix shortcut
  samples/peripherals/uarte/README.rst
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: make names consistent
  samples/bluetooth/ble_hrs/sample.yaml
  samples/bluetooth/ble_lbs/sample.yaml
  samples/bluetooth/ble_nus/sample.yaml
  samples/bluetooth/hello_softdevice/sample.yaml
  samples/peripherals/buttons/sample.yaml
  samples/peripherals/leds/README.rst
  samples/peripherals/leds/sample.yaml
  samples/peripherals/timer/sample.yaml
  samples/peripherals/uarte/sample.yaml
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: includes: add create_build_samples template
  doc/nrf-bm/gen_docs.py
  doc/nrf-bm/images/create_new_application_from_sample_quick_pick_menu.png
  doc/nrf-bm/images/nrf_bm_filter_by_module.png
  doc/nrf-bm/images/nrf_bm_sample_list.png
  doc/nrf-bm/includes/create_build_sample.txt
  doc/nrf-bm/links.txt
  samples/bluetooth/ble_cgms/README.rst
  samples/bluetooth/ble_hrs/README.rst
  samples/bluetooth/ble_lbs/README.rst
  samples/bluetooth/ble_nus/README.rst
  samples/bluetooth/hello_softdevice/README.rst
  samples/peripherals/buttons/README.rst
  samples/peripherals/leds/README.rst
  samples/peripherals/timer/README.rst
  samples/peripherals/uarte/README.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi, @eivindj-nordic, @anhmolt

samples: bluetooth: hello_softdevice: README: make title consistent
  samples/bluetooth/hello_softdevice/README.rst
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

samples: peripherals: leds: README: fix path
  samples/peripherals/leds/README.rst
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

doc: nrf-bm: samples: add uarte sample subpage
  doc/nrf-bm/samples.rst
Owners: @b-gent, @lemrey, @MirkoCovizzi

samples: cgms: cleanup conn_handle
  samples/bluetooth/ble_cgms/src/main.c
Owners: @lemrey, @eivindj-nordic, @MirkoCovizzi, @anhmolt

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/CODEOWNERS                               @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/CMakeLists.txt                           @lemrey @eivindj-nordic
/west.yml                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/.clang-format                            @lemrey @eivindj-nordic
/.checkpatch.conf                         @lemrey @eivindj-nordic
Jenkinsfile                               @lemrey @eivindj-nordic @MechanicV1

/README.md                                @lemrey @MirkoCovizzi

# All Kconfig related files
Kconfig*                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt

/.github/                                 @lemrey @MirkoCovizzi
/boards/                                  @lemrey @eivindj-nordic
/doc/                                     @b-gent @lemrey @MirkoCovizzi
/drivers/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/include/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/lib/                                     @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/samples/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/                                 @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/scripts/ci/                              @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt @MechanicV1
/subsys/                                  @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/tests/                                   @lemrey @eivindj-nordic @MirkoCovizzi @anhmolt
/zephyr/                                  @lemrey @eivindj-nordic
